/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Recommended uses:
 *
 * <div class="grid">
 *     <div class="grid__cell unit-1of2"></div>
 *     <div class="grid__cell unit-1of2"></div>
 *     <div class="grid__cell unit-1of3"></div>
 *     <div class="grid__cell unit-1of3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid__cell unit-1of3"></div>
 *     <div class="grid__cell unit-1of3"></div>
 * </div>
 */

/* Grid core
   ========================================================================== */

/**
 * Grid container
 * Must only contain `.grid` or `.grid__cell` components as children.
 */

.grid {
    display: block;
    padding: 0;
    /* Corresponds to half the grid gutter size of 10px */
    margin: 0 -5px;
    /* Ensure consistent default alignment */
    text-align: left;
    /* Remove inter-unit whitespace for all non-monospace font-families
     * If you're using a monospace base font, you will need to set the `grid`
     * font-family to `sans-serif` and then redeclare the monospace font on
     * the `grid__cell` objects.
     */
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    /* Protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

/*
 * Child `grid` object adjustments
 * Used for more complex fixed-fluid hybrid grids
 */

.grid > .grid {
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
}

/*
 * Grid units
 * No explicit width by default. Apply `.unit-x-y` classes.
 */

.grid__cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    margin: 0;
    /* Corresponds to half the grid gutter size of 10px */
    padding: 0 5px;
    /* Controls vertical positioning of units */
    vertical-align: top;
    /* Keeps unit content correctly aligned */
    text-align: left;
    /* Reset text defaults */
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

/*
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */

.grid--center {
    text-align: center;
}

/*
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */

.grid__cell--center {
    display: block;
    margin: 0 auto;
}

/* Proportional units
   ========================================================================== */

/**
 * Specify the proportional width of an object.
 * Primarily for, but not limited to, use with `.grid__cell` components.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 4, 5, 6, 8, 10, 12 part grids
 */

.unit-1of12 {
    width: 8.333%;
}

.unit-1of10 {
    width: 10%;
}

.unti-1of8 {
    width: 12.5%;
}

.unit-1of6,
.unit-2of12 {
    width: 16.667%;
}

.unit-1of5,
.unit-2of10 {
    width: 20%;
}

.unit-1of4,
.unit-2of8,
.unit-3of12 {
    width: 25%;
}

.unit-3of10 {
    width: 30%;
}

.unit-1of3,
.unit-2of6,
.unit-3of9,
.unit-4of12 {
    width: 33.333%;
}

.unit-3of8 {
    width: 37.5%;
}

.unit-2of5,
.unit-4of10 {
    width: 40%;
}

.unit-5of12 {
    width: 41.667%;
}

.unit-1of2,
.unit-2of4,
.unit-3of6
.unit-4of8,
.unit-5of10,
.unit-6of12 {
    width: 50%;
}

.unit-7of12 {
    width: 58.333%;
}

.unit-3of5,
.unit-6of10 {
    width: 60%;
}

.unit-5of8 {
    width: 62.5%;
}

.unit-2of3,
.unit-4of6,
.unit-8of12 {
    width: 66.667%;
}

.unit-7of10 {
    width: 70%;
}

.unit-3of4,
.unit-6of8,
.unit-9of12 {
    width: 75%;
}

.unit-4of5,
.unit-8of10 {
    width: 80%;
}

.unit-5of6,
.unit-10of12 {
    width: 83.333%;
}

.unit-7of8 {
    width: 87.5%;
}

.unit-9of10 {
    width: 90%;
}

.unit-11of12 {
    width: 91.667%;
}
