/**
 * base
 */

:root {
  var-background-base: var(color-white);
  var-color-base: var(color-charcoal);
  var-font-base: var(font-size)/var(line-height) var(font-family);
  var-link-color-base: var(color-deep-blue);
  var-link-color-hover-base: var(color-dark-blue);
}

/**
 * utils-link
 */

:root {
  var-color-linkPseudo: var(link-color-base);
  var-color-hover-linkPseudo: var(link-color-hover-base);
}

/**
 * components-arrange
 */

:root {
  var-gutter-size-Arrange: var(space-small-px);
}

/**
 * components-grid
 */

:root {
  var-gutter-size-Grid: var(space-large-px);
}
