/* ==========================================================================
   Display utilities
   ========================================================================== */

/**
 * Display-type utilities
 */

.u-inline {
    display: inline !important;
}

.u-inlineBlock {
    display: inline-block !important;
}

.u-block {
    display: block !important;
}

.u-table {
    display: table !important;
}

.u-tableCell {
    display: table-cell !important;
}
