/* ==========================================================================
   Offset utilities
   ========================================================================== */

/* Proportional offset before
   ========================================================================== */

/**
 * Specify the proportional offset before an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 section
 */

.u-before1of12 {
    margin-left: 8.333% !important;
}

.u-before1of10 {
    margin-left: 10% !important;
}

.u-before1of8 {
    margin-left: 12.5% !important;
}

.u-before1of6,
.u-before2of12 {
    margin-left: 16.667% !important;
}

.u-before1of5,
.u-before2of10 {
    margin-left: 20% !important;
}

.u-before1of4,
.u-before2of8,
.u-before3of12 {
    margin-left: 25% !important;
}

.u-before3of10 {
    margin-left: 30% !important;
}

.u-before1of3,
.u-before2of6,
.u-before4of12 {
    margin-left: 33.333% !important;
}

.u-before3of8 {
    margin-left: 37.5% !important;
}

.u-before2of5,
.u-before4of10 {
    margin-left: 40% !important;
}

.u-before5of12 {
    margin-left: 41.667% !important;
}

.u-before1of2,
.u-before2of4,
.u-before3of6,
.u-before4of8,
.u-before5of10,
.u-before6of12 {
    margin-left: 50% !important;
}

.u-before7of12 {
    margin-left: 58.333% !important;
}

.u-before3of5,
.u-before6of10 {
    margin-left: 60% !important;
}

.u-before5of8 {
    margin-left: 62.5% !important;
}

.u-before2of3,
.u-before4of6,
.u-before8of12 {
    margin-left: 66.667% !important;
}

.u-before7of10 {
    margin-left: 70% !important;
}

.u-before3of4,
.u-before6of8,
.u-before9of12 {
    margin-left: 75% !important;
}

.u-before4of5,
.u-before8of10 {
    margin-left: 80% !important;
}

.u-before5of6,
.u-before10of12 {
    margin-left: 83.333% !important;
}

.u-before7of8 {
    margin-left: 87.5% !important;
}

.u-before9of10 {
    margin-left: 90% !important;
}

.u-before11of12 {
    margin-left: 91.667% !important;
}

/* Proportional offset after
   ========================================================================== */

/**
 * Specify the proportional offset after an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 4, 5, 6, 8, 10, 12 section
 */

.u-after1of12 {
    margin-right: 8.333% !important;
}

.u-after1of10 {
    margin-right: 10% !important;
}

.u-after1of8 {
    margin-right: 12.5% !important;
}

.u-after1of6,
.u-after2of12 {
    margin-right: 16.667% !important;
}

.u-after1of5,
.u-after2of10 {
    margin-right: 20% !important;
}

.u-after1of4,
.u-after2of8,
.u-after3of12 {
    margin-right: 25% !important;
}

.u-after3of10 {
    margin-right: 30% !important;
}

.u-after1of3,
.u-after2of6,
.u-after4of12 {
    margin-right: 33.333% !important;
}

.u-after3of8 {
    margin-right: 37.5% !important;
}

.u-after2of5,
.u-after4of10 {
    margin-right: 40% !important;
}

.u-after5of12 {
    margin-right: 41.667% !important;
}

.u-after1of2,
.u-after2of4,
.u-after3of6,
.u-after4of8,
.u-after5of10,
.u-after6of12 {
    margin-right: 50% !important;
}

.u-after7of12 {
    margin-right: 58.333% !important;
}

.u-after3of5,
.u-after6of10 {
    margin-right: 60% !important;
}

.u-after5of8 {
    margin-right: 62.5% !important;
}

.u-after2of3,
.u-after4of6,
.u-after8of12 {
    margin-right: 66.667% !important;
}

.u-after7of10 {
    margin-right: 70% !important;
}

.u-after3of4,
.u-after6of8,
.u-after9of12 {
    margin-right: 75% !important;
}

.u-after4of5,
.u-after8of10 {
    margin-right: 80% !important;
}

.u-after5of6,
.u-after10of12 {
    margin-right: 83.333% !important;
}

.u-after7of8 {
    margin-right: 87.5% !important;
}

.u-after9of10 {
    margin-right: 90% !important;
}

.u-after11of12 {
    margin-right: 91.667% !important;
}
