/** @define Component */

.u-img {
  border-radius: 50%;
}

.Component {
  background: rgba(255, 0, 0, 0.9);
  font-size: 16px;
  width: 16.66667%;
}

.Component-item {
  display: flex;

  color: green;
}

@media (min-width: 200px) {

  .Component-item {
    color: red;
  }
}

