/** @define Component */

.u-img {
  border-radius: 50%;
}

.Component {
  font-size: 16px;
  width: 16.66667%;
}

.Component-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 200px) {
  .Component-item {
    color: red;
  }
}

