/** @define Component */

@import "./util.css";

@custom-media --media-query (min-width: 200px);

:root {
  --Component-size: 16px;
}

.Component {
  font-size: var(--Component-size);
  width: calc(100% * 1 / 6);
}

.Component-item {
  display: flex;
}

@media (--media-query) {
  .Component-item {
    color: red;
  }
}
