/** @define Component */

@import "./util.css";
@custom-media --media-query (min-width: 200px);

:root {
  --Component-size: 26px;
  --Component-color: {
    color: green;
  };
}

.Component {
  background: color(red a(90%));
  font-size: var(--Component-size);
  width: calc(100% * 1 / 6);
}

.Component-item {
  display: flex;

  @apply --Component-color;
}

@media (--media-query) {

  .Component-item {
    color: red;
  }
}
