/*! suit-base v0.4.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   Base
   ========================================================================== */

:root {
  var-background-base: inherit;
  var-color-base: inherit;
  var-font-base: 16px sans-serif;
  var-link-color-base: #069;
  var-link-color-hover-base: var(link-color-base);
}

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */

html {
  background: var(background-base);
  color: var(color-base);
  font: var(font-base);
}

a {
  color: var(link-color-base);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(link-color-hover-base);
  text-decoration: underline;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}
