/* ==========================================================================
   Intrinsic ratio embed - http://j.mp/GIHbnu
   ========================================================================== */

/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * Example HTML:
 *
 * <div class="FlexEmbed FlexEmbed--16by9">
 *     <iframe class="FlexEmbed-item" src="…"></iframe>
 * </div>
 *
 * <div class="FlexEmbed FlexEmbed--16by9">
 *     [iframe|object|embed|img]
 * </div>
 */

.FlexEmbed {
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0;
}

/**
 * The use of an explicit descendant class makes this component more flexible.
 * However, it will work automatically for iframes, embeds, and objects to
 * account for times when you cannot modify the attributes for 3rd party widget
 * code.
 */

.FlexEmbed-item,
.FlexEmbed iframe,
.FlexEmbed embed,
.FlexEmbed object {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/**
 * Modifier: 16:9 aspect ratio
 */

.FlexEmbed--16by9 {
    padding-bottom: 56.25%;
}

/**
 * Modifier: 4:3 aspect ratio
 */

.FlexEmbed--4by3 {
    padding-bottom: 75%;
}
