/*! suit-test v0.1.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   SUIT: Test
   ========================================================================== */

/**
 * The 'describe' CSS counter
 */

.Test {
    counter-reset: test-describe;
}

.Test-describe:before {
    content: counter(test-describe);
    counter-increment: test-describe;
}

/**
 * The 'it' CSS counter
 */

.Test-describe {
    counter-reset: test-it;
}

.Test-it:before {
    content: counter(test-describe) "." counter(test-it);
    counter-increment: test-it;
}

/**
 * The test title
 */

.Test-title {
    font-size: 2em;
    font-family: sans-serif;
    padding: 20px;
    margin: 20px 0;
    background: #eee;
    color: #999;
}

/**
 * The test description and expectation titles
 */

.Test-describe,
.Test-it {
    background: #eee;
    border-left: 5px solid #666;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0;
    padding: 0.75em 20px;
}

.Test-describe {
    font-size: 1.5em;
    margin: 60px 0 20px;
}

.Test-describe:before,
.Test-it:before {
    color: #999;
    display: inline-block;
    margin-right: 10px;
    min-width: 30px;
    text-transform: uppercase;
}
