/*! suit-button v3.1.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   SUIT: Button
   ========================================================================== */

:root {
  var-border-width-Button: 1px;
  var-border-color-Button: currentcolor;
  var-color-Button: inherit;
  var-font-Button: inherit;
  var-padding-Button: 0.4em 0.75em;
  var-opacity-Button-disabled: 0.6;
}

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [Button--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [Button--modifier]" type="submit">Button text</button>
 * <input class="Button [Button--modifier]" type="submit" value="Button text">
 */

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */

.Button {
  -webkit-appearance: none; /* 1 */
  background: transparent;
  border-color: var(border-color-Button);
  border-style: solid;
  border-width: var(border-width-Button);
  box-sizing: border-box; /* 2 */
  color: var(color-Button); /* 3 */
  cursor: pointer;
  display: inline-block;
  font: var(font-Button); /* 4 */
  line-height: normal; /* 6 */
  margin: 0;
  padding: var(padding-Button);
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 6 */
  white-space: normal; /* 7 */
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(opacity-Button-disabled);
}
