/* ==========================================================================
   Buttons
   ========================================================================== */

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [Button--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [Button--modifier]" type="submit">Button text</button>
 * <input class="Button [Button--modifier]" type="submit" value="Button text">
 */

/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent wrapping across multiple lines.
 */

.Button {
    -webkit-appearance: none; /* 1 */
    background: transparent;
    border: 1px solid;
    -moz-box-sizing: border-box; /* 2 */
    box-sizing: border-box; /* 2 */
    color: inherit; /* 3 */
    cursor: pointer;
    display: inline-block;
    font: inherit; /* 4 */
    line-height: normal; /* 5 */
    margin: 0;
    padding: 0.4em 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap; /* 6 */
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
    text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
    cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */

/**
 * Modifier: smaller buttons
 */

.Button--small {
    font-size: 0.75em;
}

/**
 * Modifier: larger buttons
 */

.Button--large {
    font-size: 1.25em;
}

/**
 * Modifier: full-width buttons
 */

.Button--full {
    display: block;
    width: 100%;
}
