/*! suit-utils-link v0.2.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   Link-specific utilities
   ========================================================================== */

/**
 * Clean link
 *
 * A link without any text-decoration at all.
 */

.u-linkClean,
.u-linkClean:hover,
.u-linkClean:focus,
.u-linkClean:active {
    text-decoration: none !important;
}

/**
 * Link complex
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * Example HTML:
 *
 * <a class="u-linkComplex" href="#">
 *     Link complex
 *     <span class="u-linkComplexTarget">target</span>
 * </a>
 */

.u-linkComplex,
.u-linkComplex:hover,
.u-linkComplex:focus,
.u-linkComplex:active {
    text-decoration: none !important;
}

.u-linkComplex:hover .u-linkComplexTarget,
.u-linkComplex:focus .u-linkComplexTarget,
.u-linkComplex:active .u-linkComplexTarget {
    text-decoration: underline !important;
}

/**
 * Block-level link
 *
 * Combination of traits commonly used in vertical navigation lists.
 */

.u-linkBlock,
.u-linkBlock:hover,
.u-linkBlock:focus,
.u-linkBlock:active {
    display: block !important;
    text-decoration: none !important;
}

/**
 * Pseudo-link
 *
 * Another interactive element, e.g., `button`, styled to look like an anchor.
 * Relies on the utility selector being added to the link base styles rule.
 *
 * `!important` is not used liberally because the root element, like normal
 * links, is likely to be modified by components.
 *
 * Example base CSS:
 *
 * a,
 * .u-linkPseudo {
 *     color: lightblue;
 * }
 *
 * a:hover,
 * a:focus,
 * a:active,
 * .u-linkPseudo:hover,
 * .u-linkPseudo:focus,
 * .u-linkPseudo:active {
 *     color: blue;
 * }
 *
 * Example HTML:
 *
 * <button class="u-linkPseudo" type="button">
 *     <a role="presentation">Button content</a>
 * </button>
 */

.u-linkPseudo {
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    color: inherit;
    cursor: pointer !important;
    font: inherit;
}

.u-linkPseudo:hover,
.u-linkPseudo:focus,
.u-linkPseudo:active {
    background: transparent;
    color: inherit;
}
