html {
  background: #fff;
  color: #555;
  font-size: 16px;
  line-height: 1.375;
}

@media (min-width: 420px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 22px;
  }
}

a {
  color: #156997;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/**
 * Utilities
 */

.u-cf:before,
.u-cf:after {
  content: "";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-textCenter {
  text-align: center !important;
}

.u-size1of3 {
  width: 33.33333%;
}

/**
 * CallToAction
 */

.CallToAction-text {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.CallToAction-tools {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem 0;
}

.CallToAction-link {
  color: #fff;
  display: inline-block;
}

.CallToAction-link + .CallToAction-link {
  margin: 1rem 0 0;
}

.CallToAction-footer {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2rem;
}

.CallToAction-supportingLink {
  color: inherit;
  font-size: 0.75rem;
}

/**
 * Card
 */

.Card {
  background: #3384b1;
  color: #fff;
  padding: 40px 0 2rem;
}

.Card .Header {
  margin-bottom: 2rem;
}

.Card .CallToAction {
  margin: 0 auto;
  width: 100%;
}

/**
 * Code
 */

.Code {
  background: #f0f4f5;
  border: 1px solid;
  border-left-width: 10px;
  border-color: #acc9da;
  color: #000;
  direction: ltr;
  font-size: 0.8rem;
  margin: 1em 0 2em;
  padding: 1em;
  text-align: left;
}

.Code-comment {
  color: #999;
}

/**
 * Container
 */

.Container {
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 1rem;
}

/**
 * Footer
 */

.Footer {
  padding-top: 2rem;
}

/**
 * Header
 */

.Header {
  color: #fff;
}

.Header-project {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

.Header a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
}

.Header a:hover,
.Header a:focus,
.Header a:active {
  background: #fff;
  color: #3384b1;
}

/**
 * Section
 */

.Section {
  margin-top: 3rem;
}

.Section-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.Section-text {
  margin: 1.375em auto;
}
