/* ==========================================================================
   Spacing-specific utilities
   ========================================================================== */

/**
 * Used to adjust the default spacing between components
 * Use with great care!
 *
 * <type>-<location><size>
 *
 * a = all
 * t = top
 * r = right
 * b = bottom
 * l = left
 * h = horizontal
 * v = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 */

/* All */

.padding-an { padding: 0 !important; }
.padding-as { padding: 5px !important; }
.padding-am { padding: 10px !important; }
.padding-al { padding: 20px !important; }

.margin-an { margin: 0 !important; }
.margin-as { margin: 5px !important; }
.margin-am { margin: 10px !important; }
.margin-al { margin: 20px !important; }

/* Vertical */

.padding-vn { padding-top: 0 !important; padding-bottom: 0 !important; }
.padding-vs { padding-top: 5px !important; padding-bottom: 5px !important; }
.padding-vm { padding-top: 10px !important; padding-bottom: 10px !important; }
.padding-vl { padding-top: 20px !important; padding-bottom: 20px !important; }

.margin-vn { margin-top: 0 !important; margin-bottom: 0 !important; }
.margin-vs { margin-top: 5px !important; margin-bottom: 5px !important; }
.margin-vm { margin-top: 10px !important; margin-bottom: 10px !important; }
.margin-vl { margin-top: 20px !important; margin-bottom: 20px !important; }

/* Horizontal */

.padding-hn { padding-left: 0 !important; padding-right: 0 !important; }
.padding-hs { padding-left: 5px !important; padding-right: 5px !important; }
.padding-hm { padding-left: 10px !important; padding-right: 10px !important; }
.padding-hl { padding-left: 20px !important; padding-right: 20px !important; }

.margin-hn { margin-left: 0 !important; margin-right: 0 !important; }
.margin-hs { margin-left: 5px !important; margin-right: 5px !important; }
.margin-hm { margin-left: 10px !important; margin-right: 10px !important; }
.margin-hl { margin-left: 20px !important; margin-right: 20px !important; }

/* Top */

.padding-tn { padding-top: 0 !important; }
.padding-ts { padding-top: 5px !important; }
.padding-tm { padding-top: 10px !important; }
.padding-tl { padding-top: 20px !important; }

.margin-tn { margin-top: 0 !important; }
.margin-ts { margin-top: 5px !important; }
.margin-tm { margin-top: 10px !important; }
.margin-tl { margin-top: 20px !important; }

/* Bottom */

.padding-bn { padding-bottom: 0 !important; }
.padding-bs { padding-bottom: 5px !important; }
.padding-bm { padding-bottom: 10px !important; }
.padding-bl { padding-bottom: 20px !important; }

.margin-bn { margin-bottom: 0 !important; }
.margin-bs { margin-bottom: 5px !important; }
.margin-bm { margin-bottom: 10px !important; }
.margin-bl { margin-bottom: 20px !important; }

/* Left */

.padding-ln { padding-left: 0 !important; }
.padding-ls { padding-left: 5px !important; }
.padding-lm { padding-left: 10px !important; }
.padding-ll { padding-left: 20px !important; }

.margin-ln { margin-left: 0 !important; }
.margin-ls { margin-left: 5px !important; }
.margin-lm { margin-left: 10px !important; }
.margin-ll { margin-left: 20px !important; }

/* Right */

.padding-rn { padding-right: 0 !important; }
.padding-rs { padding-right: 5px !important; }
.padding-rm { padding-right: 10px !important; }
.padding-rl { padding-right: 20px !important; }

.margin-rn { margin-right: 0 !important; }
.margin-rs { margin-right: 5px !important; }
.margin-rm { margin-right: 10px !important; }
.margin-rl { margin-right: 20px !important; }
